{% extends 'partials/base.html' %}
{% block title %}Product Page{% endblock %}
{% load crispy_forms_tags %}
{%block content%}

{% include 'partials/topnav.html' %}

<div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="border bg-white p-3">
                    <h4>Agregar Productos</h4>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-success btn-block" type="submit" value="Add Product">

                    </form>


                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Np</th>
                            <th scope="col">Serie</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col">otros</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr>
                            <th scope="row">1</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.marca }}</td>
                            <td>{{ item.np }}</td>
                            <td>{{ item.serie }}</td>
                            <td>{{ item.precio }}</td>
                            <td>{{ item.stock }}</td>
                            <td>{{ item.otros }}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' item.id %}">Editar</a>
                                <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}">Eliminar</a>
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

</div>

{% endblock %}