{% extends 'partials/base.html' %}
{% block title %} Restablecimiento de contraseña completado {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Restablecimiento de contraseña completado</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4>Ahora puedes logear con tu nueva contraseña</h4>
                </div>
                <a href="{% url 'user-login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}