{% extends 'partials/base.html' %}
{% block title %} Página de restablecimiento de contraseña realizada {% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3>Página de restablecimiento de contraseña realizada</h3>
                <hr>
                <div class="alert alert-info">
                    <h4>Se ha enviado un correo electrónico a la dirección de correo electrónico que usted proporcionó. Con las instrucciones para restablecer su contraseña</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}